
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>İletişimde Kalalım..</title>
    <link href="https://fonts.googleapis.com/css?family=Croissant+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/Iletisim_Tema/css/bootstrap.css">
    <link rel="stylesheet" href="~/Iletisim_Tema/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Iletisim_Tema/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Iletisim_Tema/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Iletisim_Tema/style.css">
    <link rel="stylesheet" href="~/Iletisim_Tema/responsive.css">
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="blue">
                <img src="~/Iletisim_Tema/img/header-shepe-blue.png" alt="">
            </div>
            <div class="white">
                <img src="~/Iletisim_Tema/img/header-shepe-white.png" alt="">
            </div>
            <div class="container">
                <img class="shepe1" src="~/Iletisim_Tema/img/shepe1.png" alt="">
                <img class="shepe2" src="~/Iletisim_Tema/img/shepe2.png" alt="">
                <img class="shepe3" src="~/Iletisim_Tema/img/shepe2.png" alt="">
                <img class="shepe4" src="~/Iletisim_Tema/img/shepe2.png" alt="">
                <img class="shepe5" src="~/Iletisim_Tema/img/shepe1.png" alt="">
                <img class="shepe6" src="~/Iletisim_Tema/img/shepe2.png" alt="">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="logo">
                            
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="header-text">
                            <h1 style="color:crimson">Gelin Birlikte Gezelim..</h1>
                            <p style="color:darkmagenta">İletişim:02125698744</p>
                            <p style="color:red">Haydi Dünya'yı birlikte gezelim görelim Hoşgeldiniz:)</p>
                            <p style="color:mediumslateblue"> Adres:MUĞLA/Fethiye</p>

                           
                        </div>
                    </div>
                </div>
                
            </div>
        </header>
        
 </div>
</body>

</html>